body {
 background-color: transparent;
 background-image: url("../img/frutasyverduras.jpg");
 -webkit-background-size: cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size: cover;
 background-repeat: no-repeat;
}

.contenedor{
  background-color: rgb(158,180,91,60%);
}

.fi-magnifying-glass{
  font-size: 36px;
  align-content: center;
}

.contenedor-icono{
  padding-bottom: 5px;
  margin-bottom: 10px;
}
